<header  class="row mt-5   d-flex justify-content-center p-3 "  style="padding-top:100px; margin-top: 200px;  ">
  
  
      

  
    <div class="col-md-6 col-lg-6 col-sm-6  my-auto  fw-bold  p-3">
      <div class="row">
    
          <h1 class="  mt-5 mx-auto text-uppercase " style=" color: #0E6D66;    ">Our Clients Are offering 
            These open Positions!  </h1>
            <br>
            <p class="fw-light" style="color: #0E6D66;"> Choose your preferred Post and start applying!</p>
            <div class="container">
                 <div class="search">
                    
                <div class="row">
                     <div class="col-md-6">
                        
                        <div class="search-1"> <i class='bx bx-search-alt'></i> 
                            <input type="text" placeholder="UX Designer">
                         </div> 
                        </div> 
                            <div class="col-md-6"> <div> <div class="search-2">
                                 <i class='bx bxs-map' ></i> 
                                 <input type="text" placeholder="tunis">
                                  <button>Search</button>
                                 </div>
                                 </div> 
                                </div> </div> </div>
        </div>
        
      </div>
      </div>
    
    
      
      <div class="col-md-5 col-lg-5 col-sm-5  d-flex justify-content-center  mt-5   ">
        <img src="assets/man.png" class="img-fluid my-auto zoom w-50 "  >
      </div>
    
    </header>

    <section>
        <div class="text-center">
          <h1 class="fw-bold mt-5" >Explore popular jobs</h1>
          <p>Join innovative and dynamic teams.</p>
          </div>
      
      <div class="row container-fluid mx-auto d-flex justify-content-between mt-5 p-3 ">
      
      
      <div class="zoom filterDiv  d-flex justify-content-center col-md-3 border  ms-3  rounded border  mt-3  mb-4 "   style=" background-image: linear-gradient(#0E6D66,#012542);  padding:30px; border-radius: 15px;" >
           
        <div class="body text-white">
          
        <h4 class="title fw-bold " >Talent Acquisition
            Company Name </h4>
            <h6 class="title" > Human Resources & Recruitment
                > <br>Recruitment - Internal
                 </h6>
        <p class="text"    > We are looking for an enthusiastic and 
            confident individual who has experience in Recruitment. 
            Join our wonderful team and elevate your career! </p>
         <p class="fw-bold">  <i class="fa-solid fa-dollar-sign" style="color: white;"></i>80,000 - $99,999 </p>
         <a  class="pt-1 pb-1 ps-3 px-3 mt-4 fw-bold  btn  link fs-7 fw-bold text-decoration-none"
          [routerLink]="['/jobs']" style="background-color:white; color:#0E6D66" > Read More </a>
        </div>       
        </div>
        <div class="zoom filterDiv d-flex justify-content-center   col-md-3 border  ms-3 rounded border  mt-3  mb-4 "   style=" background-image: linear-gradient(#0E6D66,#012542);  padding:30px; border-radius: 15px;" >
           
            <div class="body text-white">
              
            <h4 class="title fw-bold " >Talent Acquisition
                Company Name </h4>
                <h6 class="title" > Human Resources & Recruitment
                    > <br>Recruitment - Internal
                     </h6>
            <p class="text"    > We are looking for an enthusiastic and 
                confident individual who has experience in Recruitment. 
                Join our wonderful team and elevate your career! </p>
             <p class="fw-bold">  <i class="fa-solid fa-dollar-sign" style="color: white;"></i>80,000 - $99,999 </p>
             <a  class="pt-1 pb-1 ps-3 px-3 mt-4 fw-bold  btn  link fs-7 fw-bold text-decoration-none"
              [routerLink]="['/jobs']" style="background-color:white; color:#0E6D66" > Read More </a>
            </div>       
            </div>
            <div class="zoom filterDiv d-flex justify-content-center  col-md-3 border  ms-3 rounded border  mt-3  mb-4 "   style=" background-image: linear-gradient(#0E6D66,#012542);  padding:30px; border-radius: 15px;" >
           
                <div class="body text-white">
                  
                <h4 class="title fw-bold " >Talent Acquisition
                    Company Name </h4>
                    <h6 class="title" > Human Resources & Recruitment
                        > <br>Recruitment - Internal
                         </h6>
                <p class="text"    > We are looking for an enthusiastic and 
                    confident individual who has experience in Recruitment. 
                    Join our wonderful team and elevate your career! </p>
                 <p class="fw-bold">  <i class="fa-solid fa-dollar-sign" style="color: white;"></i>80,000 - $99,999 </p>
                 <a  class="pt-1 pb-1 ps-3 px-3 mt-4 fw-bold  btn  link fs-7 fw-bold text-decoration-none"
                  [routerLink]="['/jobs']" style="background-color:white; color:#0E6D66" > Read More </a>
                </div>       
                </div>
          </div>
          <div class="row container-fluid mx-auto d-flex justify-content-between mt-5 p-3 ">
      
      
            <div class="zoom filterDiv  d-flex justify-content-center col-md-3 border  ms-3  rounded border  mt-3  mb-4 "   style=" background-image: linear-gradient(#0E6D66,#012542);  padding:30px; border-radius: 15px;" >
                 
              <div class="body text-white">
                
              <h4 class="title fw-bold " >Talent Acquisition
                  Company Name </h4>
                  <h6 class="title" > Human Resources & Recruitment
                      > <br>Recruitment - Internal
                       </h6>
              <p class="text"    > We are looking for an enthusiastic and 
                  confident individual who has experience in Recruitment. 
                  Join our wonderful team and elevate your career! </p>
               <p class="fw-bold">  <i class="fa-solid fa-dollar-sign" style="color: white;"></i>80,000 - $99,999 </p>
               <a  class="pt-1 pb-1 ps-3 px-3 mt-4 fw-bold  btn  link fs-7 fw-bold text-decoration-none"
                [routerLink]="['/jobs']" style="background-color:white; color:#0E6D66" > Read More </a>
              </div>       
              </div>
              <div class="zoom filterDiv d-flex justify-content-center   col-md-3 border  ms-3 rounded border  mt-3  mb-4 "   style=" background-image: linear-gradient(#0E6D66,#012542);  padding:30px; border-radius: 15px;" >
                 
                  <div class="body text-white">
                    
                  <h4 class="title fw-bold " >Talent Acquisition
                      Company Name </h4>
                      <h6 class="title" > Human Resources & Recruitment
                          > <br>Recruitment - Internal
                           </h6>
                  <p class="text"    > We are looking for an enthusiastic and 
                      confident individual who has experience in Recruitment. 
                      Join our wonderful team and elevate your career! </p>
                   <p class="fw-bold">  <i class="fa-solid fa-dollar-sign" style="color: white;"></i>80,000 - $99,999 </p>
                   <a  class="pt-1 pb-1 ps-3 px-3 mt-4 fw-bold  btn  link fs-7 fw-bold text-decoration-none"
                    [routerLink]="['/jobs']" style="background-color:white; color:#0E6D66" > Read More </a>
                  </div>       
                  </div>
                  <div class="zoom filterDiv d-flex justify-content-center  col-md-3 border  ms-3 rounded border  mt-3  mb-4 "   style=" background-image: linear-gradient(#0E6D66,#012542);  padding:30px; border-radius: 15px;" >
                 
                      <div class="body text-white">
                        
                      <h4 class="title fw-bold " >Talent Acquisition
                          Company Name </h4>
                          <h6 class="title" > Human Resources & Recruitment
                              > <br>Recruitment - Internal
                               </h6>
                      <p class="text"    > We are looking for an enthusiastic and 
                          confident individual who has experience in Recruitment. 
                          Join our wonderful team and elevate your career! </p>
                       <p class="fw-bold">  <i class="fa-solid fa-dollar-sign" style="color: white;"></i>80,000 - $99,999 </p>
                       <a  class="pt-1 pb-1 ps-3 px-3 mt-4 fw-bold  btn  link fs-7 fw-bold text-decoration-none"
                        [routerLink]="['/jobs']" style="background-color:white; color:#0E6D66" > Read More </a>
                      </div>       
                      </div>
                </div>
                <div class="row container-fluid mx-auto d-flex justify-content-between mt-5 p-3 ">
      
      
                    <div class="zoom filterDiv  d-flex justify-content-center col-md-3 border  ms-3  rounded border  mt-3  mb-4 "   style=" background-image: linear-gradient(#0E6D66,#012542);  padding:30px; border-radius: 15px;" >
                         
                      <div class="body text-white">
                        
                      <h4 class="title fw-bold " >Talent Acquisition
                          Company Name </h4>
                          <h6 class="title" > Human Resources & Recruitment
                              > <br>Recruitment - Internal
                               </h6>
                      <p class="text"    > We are looking for an enthusiastic and 
                          confident individual who has experience in Recruitment. 
                          Join our wonderful team and elevate your career! </p>
                       <p class="fw-bold">  <i class="fa-solid fa-dollar-sign" style="color: white;"></i>80,000 - $99,999 </p>
                       <a  class="pt-1 pb-1 ps-3 px-3 mt-4 fw-bold  btn  link fs-7 fw-bold text-decoration-none"
                        [routerLink]="['/jobs']" style="background-color:white; color:#0E6D66" > Read More </a>
                      </div>       
                      </div>
                      <div class="zoom filterDiv d-flex justify-content-center   col-md-3 border  ms-3 rounded border  mt-3  mb-4 "   style=" background-image: linear-gradient(#0E6D66,#012542);  padding:30px; border-radius: 15px;" >
                         
                          <div class="body text-white">
                            
                          <h4 class="title fw-bold " >Talent Acquisition
                              Company Name </h4>
                              <h6 class="title" > Human Resources & Recruitment
                                  > <br>Recruitment - Internal
                                   </h6>
                          <p class="text"    > We are looking for an enthusiastic and 
                              confident individual who has experience in Recruitment. 
                              Join our wonderful team and elevate your career! </p>
                           <p class="fw-bold">  <i class="fa-solid fa-dollar-sign" style="color: white;"></i>80,000 - $99,999 </p>
                           <a  class="pt-1 pb-1 ps-3 px-3 mt-4 fw-bold  btn  link fs-7 fw-bold text-decoration-none"
                            [routerLink]="['/jobs']" style="background-color:white; color:#0E6D66" > Read More </a>
                          </div>       
                          </div>
                          <div class="zoom filterDiv d-flex justify-content-center  col-md-3 border  ms-3 rounded border  mt-3  mb-4 "   style=" background-image: linear-gradient(#0E6D66,#012542);  padding:30px; border-radius: 15px;" >
                         
                              <div class="body text-white">
                                
                              <h4 class="title fw-bold " >Talent Acquisition
                                  Company Name </h4>
                                  <h6 class="title" > Human Resources & Recruitment
                                      > <br>Recruitment - Internal
                                       </h6>
                              <p class="text"    > We are looking for an enthusiastic and 
                                  confident individual who has experience in Recruitment. 
                                  Join our wonderful team and elevate your career! </p>
                               <p class="fw-bold">  <i class="fa-solid fa-dollar-sign" style="color: white;"></i>80,000 - $99,999 </p>
                               <a  class="pt-1 pb-1 ps-3 px-3 mt-4 fw-bold  btn  link fs-7 fw-bold text-decoration-none"
                                [routerLink]="['/jobs']" style="background-color:white; color:#0E6D66" > Read More </a>
                              </div>       
                              </div>
                        </div>
          </section>