<header  class="row mt-5 shadow   d-flex justify-content-center p-3 "  style="padding-top:100px; margin-top: 200px;  ">
  
  
    <div class="col-md-5 col-lg-5 col-sm-5  d-flex justify-content-center  mt-5   ">
        <img src="assets/sol.png" class="img-fluid my-auto zoom w-50 "  >
      </div>

  
    <div class="col-md-6 col-lg-6 col-sm-6  my-auto  fw-bold  p-3">
      <div class="row">
    
          <h1 class="  mt-5 mx-auto text-uppercase " style=" color: black;    ">Welcome to 
              <span style="color:#0E6D66;">Profinity</span><br> Where proficiency meets <br> expertise.  </h1>
          <div class="col-10">
          <button class="btn text-white mb-5 mt-4 px-4  fs-4" style="background-color:#0E6D66 ; border-radius: 50px;" > Request Demo </button>
        </div>
        
      </div>
      </div>
    
    
      
      
    
    </header>

    <section>
        <div class="row container-fluid text-white mx-auto d-flex justify-content-between mt-5 mb-3">
            <div class="col-md-8 col-lg-8 col-sm-8 my-auto" >
                <div class="row p-3" >
                    <div class="col-8 pt-4 pb-4" style="background-image: linear-gradient(#0E6D66,#012542 ); border-radius: 15px;">
                <h1>Employee Engagement</h1><br>
                <p style="text-align: justify;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                    when an unknown.
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                    when an unknown.
                    </p>
                </div>
            </div>
        </div>
            <div class="col-md-4 col-lg-4 col-sm-4 ">
                <img src="assets/eng.png" class="img-fluid w-50"></div>
        </div>
    </section>

    <section>
        <div class="row container-fluid  mx-auto d-flex justify-content-between mt-5 mb-3">
            <div class="col-md-4 col-lg-4 col-sm-4 text-center ">
                <img src="assets/eng.png" class="img-fluid w-50 ">
            </div>
            <div class="col-md-8 col-lg-8 col-sm-8 my-auto" >
                <div class="row p-3" >
                    <div class="col-4"></div>
                    <div class="col-8 pt-4 pb-4" style=" border-radius: 15px;">
                <h1 style="color: #0E6D66;">Promoting professional <br>
                    developments</h1><br>
                <p style="text-align: justify;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                    when an unknown.
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                    when an unknown.
                    </p>
                </div>
            </div>
        </div>
          
        </div>
    </section>
    <section>
        <div class="row container-fluid text-white mx-auto d-flex justify-content-between mt-5 mb-3">
            <div class="col-md-8 col-lg-8 col-sm-8 my-auto" >
                <div class="row p-3" >
                    <div class="col-8 pt-4 pb-4" style="background-image: linear-gradient(#0E6D66,#012542 ); border-radius: 15px;">
                <h1>Talent retention</h1><br>
                <p style="text-align: justify;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                    when an unknown.
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                    when an unknown.
                    </p>
                </div>
            </div>
        </div>
            <div class="col-md-4 col-lg-4 col-sm-4 ">
                <img src="assets/reten.png" class="img-fluid w-75"></div>
        </div>
    </section>

    <section>
        <div class="row container-fluid  mx-auto d-flex justify-content-between mt-5 mb-3">
            <div class="col-md-4 col-lg-4 col-sm-4 text-center ">
                <img src="assets/eff.png" class="img-fluid w-75 ">
            </div>
            <div class="col-md-8 col-lg-8 col-sm-8 my-auto" >
                <div class="row p-3" >
                    <div class="col-4"></div>
                    <div class="col-8 pt-4 pb-4" style=" border-radius: 15px;">
                <h1 style="color: #0E6D66;">Company Efficiency <br>
                    developments</h1><br>
                <p style="text-align: justify;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                    when an unknown.
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                    when an unknown.
                    </p>
                </div>
            </div>
        </div>
          
        </div>
    </section>
    <section>
        <div class="row container-fluid text-white mx-auto d-flex justify-content-between mt-5 mb-3">
            <div class="col-md-8 col-lg-8 col-sm-8 my-auto" >
                <div class="row p-3" >
                    <div class="col-8 pt-4 pb-4" style="background-image: linear-gradient(#0E6D66,#012542 ); border-radius: 15px;">
                <h1>Workspace Well-being</h1><br>
                <p style="text-align: justify;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                    when an unknown.
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                    when an unknown.
                    </p>
                </div>
            </div>
        </div>
            <div class="col-md-4 col-lg-4 col-sm-4 ">
                <img src="assets/well.png" class="img-fluid w-75"></div>
        </div>
    </section>

    <section>
        <div class="row container-fluid  mx-auto d-flex justify-content-between mt-5 mb-3">
            <div class="col-md-4 col-lg-4 col-sm-4 text-center my-auto ">
                <img src="assets/cv.png" class="img-fluid w-75 ">
            </div>
            <div class="col-md-8 col-lg-8 col-sm-8 my-auto" >
                <div class="row p-3" >
                    <div class="col-4"></div>
                    <div class="col-8 pt-4 pb-4" style=" border-radius: 15px;">
                <h1 style="color: #0E6D66;">cv parsing<br>
                    developments</h1><br>
                <p style="text-align: justify;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                    when an unknown.
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                    when an unknown.
                    </p>
                </div>
            </div>
        </div>
          
        </div>
    </section>
    